<!doctype html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido</title>
</head>
<body>
<h1>Sistema de Administración de Personas [SAO]</h1>
<div>
    Número de personas: {{ no_personas }}
</div>
<div>
    <a href="nueva_persona">Agregar Persona</a>
</div>
<br><br>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- forach en django -->
        {% for persona in personas %}
        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.email}}</td>
            <td><a href="detalle_persona/{{persona.id}}">Ver</a></td>
            <td><a href="editar_persona/{{persona.id}}">Editar</a></td>
            <td><a href="eliminar_persona/{{persona.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>